.createFormContainer {
    border: 3px solid rgb(255, 145, 0);
    border-radius: 20px;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleInput {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.problemInput, .solutionInput {
    border: 2px solid grey;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    padding: 5px;
}

.solvedRadioContainer, .priorityRadioContainer {
    display: flex;
    flex-direction: row;
}

.solvedRadioHead, .priorityRadioHead {
    margin-right: 10px;
}

.solvedRadioBtns, .priorityRadioBtns {
    position: relative;
    top: -2px;
}

.submitBtn, .submitBtn:hover, .submitBtn:active, .submitBtn:visited {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 145, 0) !important;
    border-color: rgb(255, 145, 0) !important;
}