.imageContainer {
    display: flex;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.slideShowImages {
    width: 400px;
}

.slideShowBtn {
    position: absolute;
    cursor: pointer;
}

.next {
    left: 458px;
}

.prev {
    left: 10px;
}